<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<form th:method="POST" th:action="@{/book/search}">
    <label for="query">Enter a search request</label>
    <input type="text" id="query" name="query"/>
    <br>
    <input type="submit" value="Search"/>
</form>
<div th:if="${books}">
    <div th:="${books.isEmpty()}">
        <span>Books not found</span>
    </div>

    <div th:each="book : ${books}">
        <p th:text="${book.getTitle() + ', ' + book.getAuthor()+', ' + book.getYear()}">Book</p>

        <div th:if="${book.getOwner() != null}">
            <span>Person name</span><span th:text="${book.getOwner().getFullName()}"> has book now</span>
        </div>

        <div th:if="${book.getOwner() == null}">
            <span>The book is free</span>
        </div>
        <hr>
    </div>
</div>

</body>
</html>